@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,500;0,700;1,300;1,400&display=swap');

body
{
    background-color:#333333;
    font-family:"Bai Jamjuree";
}
a{
    text-decoration: none;
    color:antiquewhite;
    transition: all 0.4s ease;

}

a:hover
{
    color:rgb(230, 230, 38)
}

@media (min-width: 992px)
{
    .navbar
    {
        min-height: 100vh;
        width:240px;
        background:linear-gradient(#2e2d2dc2,#494646d7,rgba(82, 78, 78, 0.74))
    }
}
.navbar .navlink
{
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: rgb(214, 214, 7);
}


.navbar-brand img
{
    width: 150px;
    border: 3px solid white;
    

}